<section id="blank_banner">
  <div id="blank" class="container">
    <div class="sixteen columns">

      Stuff

    </div><!-- END .sixteen.columns -->
  </div><!-- END #blank.container -->
</section><!-- END #blank_banner -->